<div id="js-product-details-modal-content" class="c-product-details modal-hider">
    <h3> {{ productName }} </h3>

    <a href="{{productUrl}}">
        <img src="{{productImg}}" alt="{{ productName}}"/>
    </a>
    
    <p> {{ productPrice }} </p>
</div>