<div class="c-product js-product js-trigger" data-product={{productSku}}>
    <h3> {{ productTitle }} </h3>

    <img src={{ productImg }} alt="{{ productTitle }}"/>

    <p> {{ productPrice }} </p>
</div>